<% include ../partials/header %>

<header>
        <h1>Create an User</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
</header>
    
<main>
    <form action="/users" method="POST">
        <input type="text" name="name">
        <input type="text" name="img">
        <button type="submit"> Create User</button>
    </form>
</main>

<% include ../partials/footer %>